version: '3.8'

services:
  proxy:
    env_file:
      - .env
    image: nginx:latest
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./default.conf.template:/etc/nginx/templates/default.conf.template
      - ./frontend/out:/usr/share/nginx/html
    depends_on:
      - backend
    networks:
      - network1
  backend:
    restart: always
    build: ./backend
    env_file:
      - .env
    deploy:
      replicas: 2
    expose:
      - "${SERVER_PORT}"
    environment:
      # DB
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_DB: ${DB_NAME}
      # JWT
      JWT_SECRET: ${JWT_SECRET}
      JWT_EXPIRES_IN: ${JWT_EXPIRES_IN}
      # Server
      PORT: ${SERVER_PORT}
    volumes:
      - ./backend:/app
      - /app/node_modules
    depends_on:
      - db
    networks:
      - network1

  db:
    image: postgres:16.0-alpine3.18
    restart: always
    ports:
      - '${DB_PORT}:${DB_PORT}'
    environment:
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_DB: ${DB_NAME}
    volumes:
      - db:/var/lib/postgresql/data
    networks:
      - network1

networks:
  network1:

volumes:
  db:
